.titles th{
    padding: 20px;
    background-color: #333333;
}

* {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.results td{
    padding: 10px;
}

.results:hover{
    background-color: #545454;
    cursor: pointer;
}

.t:hover{
    background-color: #545454;
    cursor:pointer;
}

#resultTable, #tripName, #organizer, #location, #difficulty, #dates, #group, .td {
	    border: 1px solid black;
	    border-collapse: collapse;
	    z-index: 1;
	    color: white;
}

#resultTable{
    position: absolute;
    top: 120px;
    left: 12.5%;
}

#tableBackdrop{
    width: 80%;
    height: 375px;
    align: center;
    z-index: -2;
    background-color:grey;
    opacity: 1;
    left: 10%;
    top: 0%;
    position: absolute;
}

.td a{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
}

#resultNum{
    position: absolute;
    left: 12.5%;
    top: 75px;
    color: white;
    font-size: 185%;
    font-style: underline;
}
#edit{
    position: absolute;
    left: 77%;
    top: 75px;
    color: white;
    font-size: 175%;    
    text-decoration: underline;
}

#edit:hover {
    cursor: pointer;
}


#toolbar {
    padding: 4px;
	position: absolute;
    display: inline-block;
    width: 80%;
	left: 9.75%;
}
