.titles th{
    padding: 20px;
}

.results td{
    padding: 10px;
}

.results:hover{
    background-color: #545454;
    cursor: pointer;
}

.t:hover{
    background-color: #545454;
    cursor:pointer;
}

table, th, td {
	    border: 1px solid black;
	    border-collapse: collapse;
	    z-index: 1;
	    color: white;
}

table{
    position: absolute;
    top: 120px;
    left: 12.5%;
}

#tableBackdrop{
    width: 80%;
    height: 375px;
    align: center;
    z-index: -2;
    background-color:grey;
    opacity: 0.97;
    left: 10%;
    top: 0%;
    position: absolute;
}

td a{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
}

#resultNum{
    position: absolute;
    left: 12.5%;
    top: 75px;
    color: white;
    font-size: 200%
}
#edit{
    position: absolute;
    left: 78%;
    top: 75px;
    color: white;
    font-size: 200%    
}


#toolbar {
        padding: 4px;
	position: absolute;
        display: inline-block;
        width: 80%;
	left: 9.75%;
	font-size: 72.5%;
}
