* {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
section {
	width: 80%;
	padding-bottom: 10px;
	margin: 0 auto;
}

.profilePic:hover {
    cursor: pointer;
}


#mountainPic {
	width: 80%;
	height: 42%;
	position: absolute;
	left: 10%;
	z-index: 3;
}

#name {
	position: absolute;
	left: 11%;
	top: 30%;
	color: white;
	z-index: 6;
	font-size: 300%;
}

#btnMtnName {
	cursor: pointer;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: underline;
	display: inline-block;
}

#btnMtnName:hover {
	color: blue;

}

#nameBack{
    position: absolute;
    width: 25.5%;
    height: 8.5%;
    z-index: 5;
    left: 10.7%;
    top: 29.5%;
    background-color:#0078ae;
    opacity: 0.9;
}

#btnJoinTrip {
	position: absolute;
	width: 10%;
	left: 11%;
	top: 40%;
	z-index: 5;
}
#btnLeaveTrip {
	position: absolute;
	width: 10%;
	left: 11%;
	top: 40%;
	z-index: 4;
}
#party {
	position: absolute;
	align: center;
	left: 38%;
	right: 8%;
	bottom: 55%;
	z-index: 5;
}

#comments {
/*	display: inline-table;*/
	padding: 20px;
	position: absolute;
	left: 51%;
	right: 1%;
	top: 50%;
	bottom: 1%;
	background-color:white;
	opacity: 0.85;
}

#infoFieldHeader {
	font-size: 1.3em;
	font-weight: bold;
}

#infoFieldHeader:after {
	content: ".";
  	display: block;
 	height: 10;
  	clear: both;
  	visibility: hidden;
}

#infoField {
	font-size: 1.0em;
	margin: auto 20px;
}

#commentTable {
	width: 100%;
}

#blankTextBox {
	height: 100px;
}

.userPhoto {
	width: 78px;
	height: 78px;
}

#me{
position: absolute;
left: 876px;
top: 279px;
height: 82px;
width: 78px;
}

textarea{
    resize: none;
}

.contentContainer {
	vertical-align: top;
}

#commentInput {
	width: 100%;
	height: 100px;
}

#postCommentBtn {
	float: right;
	font-size: 1.3em;
	width: 100px;
}

#infoDiv {
	padding: 20px;
	position: absolute;
	left: 1%;
	right: 51%;
	top: 50%;
	bottom: 1%;
	background-color:white;
	opacity: 0.85;
	z-index: 100;
}

#infoTable {
	width: 100%;
}

.profilePic {
	width: 10%;
	height: 10%;
	z-index: 5;
}

table, th, td {
	    border: 1px solid black;
	    padding: 20px;
	    border-collapse: collapse;
	    z-index: 100;
	    color: black;
}

#bodyText{
    width: 80%;
    height: 100%;
    align: center;
    z-index: -2;
    background-color:grey;
    opacity: 1;
    left: 10%;
    top: 0%;
    position: absolute;
    z-index: 2;
}


#toolbar {
        padding: 4px;
	position: absolute;
        display: inline-block;
        width: 80%;
	left: 9.75%;
	z-index: 3000;
	font-size: 72.5%;
}
