/** General Page Styling **/
html, body, button {
	display: block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

section {
	width: 80%;
	padding-bottom: 10px;
	margin: 0 auto;
}

/** Mountain "Cover Photo" Section Styling **/ 
#mtnTopSection {
	display: inline-table;
	width: 100%;
	padding-top: 60px;
}

#mtnCoverPhoto {
	width: 100%;
	position: relative;
}

#mtnLabelContainer {
	display: inline-block;
	background-color: blue;
	width: 100%;
	height: 100px;
	position: relative;
}

#mtnNameSection {
	float: left;
	padding: 10px 25px 10px;
	vertical-align: middle;
	background-color: blue;
	height: 80px;
	position: relative;
}

#mtnNameText {
	display: inline-block;
    font-size: 2.5em;
    font-weight: bold;
    background-color: blue;
    position: relative;
  	top: 50%;
  		-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		transform: translateY(-50%);
}

/** Create Trip Button **/
#createTripSection {
	float: left;
	padding: 10px 0;
	vertical-align: middle;
	background-color: blue;
	height: 80px;
	position: relative;
}

#createTripBtn {
	display: inline-block;
    font-size: 1.5em;
    position: relative;
  	top: 50%;
  		-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		transform: translateY(-50%);
}

/** Information Section Styling **/
#infoSection {
	background-color: red;
	width: 95%;
	height: 95%;
	margin: 30px auto; 
}

#textContent {
	display: inline-table;
	margin-top: 1%;
	margin-bottom: 1%;
	height: 97%;
	width: 50%;
	margin-left: 10px;
	background-color: yellow;
	position: relative;
}

#infoFieldHeader {
	font-size: 1.3em;
	font-weight: bold;
}

#infoFieldHeader:after {
	content: ".";
  	display: block;
 	height: 10;
  	clear: both;
  	visibility: hidden;
}

#infoField {
	font-size: 1.0em;
	margin: auto 20px;
}

#reviewTable {
	width: 100%;
}

#blankTextBox {
	height: 100px;
}

#reviewInput {
	width: 100%;
	height: 100px;
}

#postReviewBtn {
	float: right;
	font-size: 1.3em;
	width: 100px;
}

#staticText {

}

#reviewText {

}

/** Geo-Location Styling **/
#locationContent {

}

#mapContent {

}

#mapImg {

}

#directionsText {

}