/** General Page Styling **/
html, body, button * {
	display: block;
}

* {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	color: white;
}
section {
	width: 80%;
	padding-bottom: 10px;
	margin: 0 auto;
}

/** Mountain "Cover Photo" Section Styling **/ 
#mtnTopSection {
	display: inline-table;
	width: 100%;
	padding-top: 10px;
}

#mtnCoverPhoto {
	width: 100%;
	position: relative;
}

#mtnLabelContainer {
	display: inline-block;
	background-color: grey;
	opacity: 1;

	width: 100%;
	height: 100px;
	position: relative;
}

#mtnNameSection {
	float: left;
	padding: 10px 25px 10px;
	vertical-align: middle;
	background-color: grey;
	opacity: 1;

	height: 80px;
	position: relative;
}

#mtnNameText {
	display: inline-block;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    background-color: grey;
	opacity: 0.9;

    position: relative;
  	top: 50%;
  		-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		transform: translateY(-50%);
}

/** Create Trip Button **/
#createTripSection {
	float: left;
	padding: 10px 0;
	vertical-align: middle;
	background-color: grey;
	height: 80px;
	position: relative;
	opacity: 0.9;
}

#createTripBtn {
	display: inline-block;
    font-size: 1.5em;
    position: relative;
  	top: 50%;
  		-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		transform: translateY(-50%);
}

/** Information Section Styling **/
#infoSection {
	background-color: gray;
	width: 95%;
	height: auto;
	margin: 30px auto;
        opacity: 1;	
}

#textContent {
	display: inline-table;
	margin-top: 1%;
	margin-bottom: 1%;
	height: 97%;
	width: 50%;
	margin-left: 10px;
	background-color: gray;
	opacity: 0.89;
}

#infoFieldHeader {
	font-size: 1.3em;
	font-weight: bold;
	color: white;
	padding: 10px;
}

#infoFieldHeader:after {
	content: ".";
  	display: block;
 	height: 10;
  	clear: both;
  	visibility: hidden;
}

#infoField {
	font-size: 1.0em;
	margin: auto 20px;
}

#reviewTable {
	width: 100%;
}

#blankTextBox {
	height: 100px;
}

.userPhoto {
	width: 50px;
	height: 50px
}

.contentContainer {
	vertical-align: top;
}

#reviewInput {
	width: 100%;
	height: 100px;
}

#postReviewBtn {
	float: right;
	font-size: 1.3em;
	width: 100px;
}

#staticText {

}

#reviewText {

}

/** Geo-Location Styling **/
#locationContent {

}

#mapContent {

}

#mapImg {

}

#directionsText {

}


#toolbar {
    padding: 4px;
	position: absolute;
    display: inline-block;
    width: 80%;
	left: 9.75%;
	font-size: 72.5%;
}

textarea{
    resize: none;
}

